//
// Component: Custom for Michael Crosbie portfolio
//
// ========================================================================
// 

// Site wide variables

// Typography
@decima: 'DecimaLight', sans-serif;
h1,h2,h3,h4,h5,p,span,div {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	word-wrap:normal;
}
body {
	color:@global-color;
	letter-spacing:.01em;
}

body, select, input, textarea, h1,h2,h3,h4,h5,p,span,div {
	font-family:@decima;
}
	
p {	
	margin-bottom: 15px;
	line-height:125%;
	}

a {
	color:@global-color;
	text-decoration:none;
	cursor:pointer;
	outline:0;
		&:hover {
			text-decoration:none;
		}
	}
li {
	list-style:none;
}

// Site border
body, html {
    min-height:100%;
}
html {
    padding:20px;
    background:#fafafa;
}
.border {
    position:fixed;
    z-index:4000;
    width:100%;
    height:100%;
    top: 0;
    left:0;
    box-sizing: border-box;    
    border:8px solid @global-color;
    pointer-events: none;
}

// Site Title
.site-title {
    position: fixed;
    height: 100vh;
    text-align: center;
    width: 100vw;
    top: 0;
    left: 0;
    z-index:0;
    transition: opacity 0.5s ease;
    h1 {
        font-size:4.5em
    }
    &.after-load {
        //opacity:0.5
    }
}
// Loader
.pageload-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
    z-index:5000;
}
.pageload-overlay.show {
	visibility: visible;
}

.pageload-overlay svg {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.pageload-overlay svg path {
	fill: @global-color;
}

.pageload-overlay::after,
.pageload-overlay::before {
	content: '';
	position: fixed;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
	-webkit-transition: opacity 0.15s, visibility 0s 0.15s;
	transition: opacity 0.15s, visibility 0s 0.15s;
}

/*.pageload-overlay::after {
	background: #6cc88a;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-animation: moveRight 0.6s linear infinite alternate;
	animation: moveRight 0.6s linear infinite alternate;
}

.pageload-overlay::before {
	background: #4fc3f7;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
	-webkit-animation: moveLeft 0.6s linear infinite alternate;
	animation: moveLeft 0.6s linear infinite alternate;
}

@-webkit-keyframes moveRight {
	to { -webkit-transform: translateX(20px); }
}

@keyframes moveRight {
	to { transform: translateX(20px); }
}

@-webkit-keyframes moveLeft {
	to { -webkit-transform: translateX(-20px); }
}

@keyframes moveLeft {
	to { transform: translateX(-20px); }
}

.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
} */

// Menu
.menu-contact, .menu-about, .menu-back {
    z-index:4001;
    position:fixed;
    top: calc(~"50% - 40px");
    font-size:1em;
    text-transform:uppercase;
    p,a {
        cursor:pointer;
        color:@global-color;
        -webkit-transition: color 0.4s;
	    transition: color 0.4s;
        &:hover, &:focus {
             &::before {
                    -webkit-transform: scale3d(1, 1, 1);
	                transform: scale3d(1, 1, 1);
	                -webkit-transition-delay: 0s;
	                transition-delay: 0s;   
             }
        }
        &::before, &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 2px;
            -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
            -webkit-transform-origin: center left;
            transform-origin: center left;
            -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
            transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);   
        }
        &::before {
             background: @global-color;
	        -webkit-transition-delay: 0.4s;
	        transition-delay: 0.4s;   
        }
        &::after {
             background: @global-muted-color;
        }
    }
    &.active {
         p {
             color:@global-muted-color;
             &::after, &::before {     
                 -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
             }
             &::before {
               -webkit-transition-delay: 0s;
	           transition-delay: 0s;   
             }
         }    
    }
}
.menu-contact.reversed, .menu-about.reversed, .menu-back.reversed {
    a, p {
        color:#fff;
        &::before {
             background: #fff;
        }
        &::after {
             background: #fff;
        }
    }
}
.menu-contact {
     right:calc(~"8px + 2%");
    -ms-transform: rotate(+90deg);
    -webkit-transform: rotate(+90deg);
    transform: rotate(+90deg);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    &::before, &::after {
         bottom: 10px;
    }
}
.menu-about {
     left :calc(~"8px + 2%");
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.menu-back {
    top:auto;
    left:calc(~"50% - 40px");
    bottom:calc(~"8px + 5%");
    a {
        &::before, &::after {
             bottom:0px;   
        }
    }
}

// Hompeage Grid
.homepage-grid {
    z-index:1500;
    position:relative;
    .whitewash {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1600;
      min-width: 100%;
      min-height: 100%;
      background: #fff;
    }  
    .grid-item-wrapper {
        opacity:0;
        padding-top:50px;
        padding-bottom:50px;
        text-align:center;
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.6s ease;
        transition: transform 0.5s ease, opacity 0.6s ease;
        -webkit-transform: translate3d(0,5%,0);
        transform: translate3d(0,5%,0);
	    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
        &.show {
            opacity:1;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
        .grid-item {
            &.small {
                width:50%;
                margin:0 auto;
            }
            &.medium {
                width:75%;
                margin:0 auto;
            }
            &.large {
                width:90%;
                margin:0 auto;
            }
            &.full {
                width:100%;
                margin:0 auto;
            }
            a {
              border:8px solid #fff; 
              -webkit-transition : border 500ms ease;
              -moz-transition : border 500ms ease;
              -o-transition : border 500ms ease;
              transition : border 500ms ease;
            }
            .uk-overlay {
                .uk-overlay-panel {
                    opacity:0;
                    -webkit-transition: opacity 0.6s ease-out;
                    transition: opacity 0.6s ease-out;
                    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
                    text-align:left;
                    color:@global-color;
                    div {
                        width:50%;
                         opacity:0;  
                        -webkit-transition: -webkit-transform 0.5s ease-in, opacity 0.6s ease-in, transform 0.1s ease-out, opacity 0.1s ease-out;
                        transition: transform 0.5s ease-in, opacity 0.6s ease-in, transform 0.1s ease-out, opacity 0.1s ease-out;
                        -webkit-transform: translate3d(0,-5%,0);
                        transform: translate3d(0,-5%,0);
                        -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
                        
                    }
                    .icon-arrow {
                            display:block;
                            position:absolute;
                            right:20px;
                            bottom:20px;
                            width:12%;
                            fill: @global-color;
                            display: block;
                        }
                    
                }

            }
            
            .uk-overlay:hover, .uk-overlay.hover {
                 .uk-overlay-panel {
                     opacity:1;
                     background:#fff;
                    color: #292a86;
                    text-align: left;
                     div {
                         opacity:1;
                        -webkit-transform: translate3d(0,0,0);
                        transform: translate3d(0,0,0);

                         h2 {
                            // text-decoration:underline;
                         }
                     }
                 }
                a {
                    border:8px solid @global-color;
                }
            }
        }
        
    }
    
}

// Story
article {
    .hero_title {
        position: fixed;
        z-index: 3000;
        min-width: 100%;
        top: 0;
        box-sizing:border-box;  
        margin-left:-20px;
        h1 {
            text-align: center;
            font-size: 110px;
            line-height: 100px;
            text-transform: uppercase;   
        }
        h2 {
             text-align: center;
        }
    }
    .hero_video {
         height:80vh;
        margin-top:20vh;
    }
    .story_hero {
        height:80vh;
        margin-top:20vh;
    }
    h1 {
        font-size:42px;
        line-height:55px;
    }
    .hero_intro {
        z-index:3001;
        position:relative;
        background:#fff;
        padding-bottom:50px;
        .uk-container {
            padding-top:50px;   
        }
    }
    .details {
        border-left-style: double;
         h4 {
               font-weight:bold;      
         }
    }
    .story_block {
        margin-top:50px;
        padding-top:50px;
        padding-bottom:50px;
        background:#fff;
        z-index:3001;
        position:relative;
        p {
             font-size:18px;   
        }
        &.story_full {
            padding-top:0px;
            padding-bottom:0px;
            .uk-cover-background {
                 height:80vh;   
            }
        }
    }
}


// About
.about, .contact {
    padding-top:50px;
    padding-bottom:50px;
    background:@global-color;
    color:#fff;
    z-index:3001;
    position:relative;
    min-height: calc(~"100vh - 40px");
    box-sizing:border-box;
    h2, h3, h4, a {
         color:#fff;   
        a:hover {
             text-decoration: underline;   
        }
    }
}